@{
    IReadOnlyList<IDocument> headings = Model.DocumentList(HtmlKeys.Headings);
}

@if(headings != null && headings.Count > 0)
{
    <h6>On This Page</h6>
    foreach(IDocument heading in headings)
    {
        string id = heading.String(HtmlKeys.Id);
        if(id != null)
        {
            <p><a href="#@(id)">@(heading.Content)</a></p>
        }
    }
    <hr class="infobar-hidden" />
}
