# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Dotnet code style settings:
[*.{cs,vb}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion

# CSharp code style settings:
[*.cs]
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Prefer method-like constructs to have a block body
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = false:none

# Prefer property-like constructs to have an expression-body
csharp_style_expression_bodied_properties = true:none
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_accessors = true:none

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Newline settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true

# Known validation methods, see https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1062?view=vs-2019#null-check-validation-methods
dotnet_code_quality.CA1062.null_check_validation_methods = ThrowIfNull|ThrowIfNullOrEmpty|ThrowIfNullOrWhiteSpace

# These rules represent Dave Glick's preferences and enforce consistent code quality guidelines.
[*.{cs,vb}]
dotnet_diagnostic.CA1020.severity = warning
dotnet_diagnostic.CA1021.severity = warning
dotnet_diagnostic.CA1040.severity = warning
dotnet_diagnostic.CA1045.severity = warning
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1501.severity = warning
dotnet_diagnostic.CA1504.severity = warning
dotnet_diagnostic.CA1505.severity = warning
dotnet_diagnostic.CA1506.severity = none
dotnet_diagnostic.CA1700.severity = warning
dotnet_diagnostic.CA1701.severity = warning
dotnet_diagnostic.CA1702.severity = warning
dotnet_diagnostic.CA1703.severity = warning
dotnet_diagnostic.CA1704.severity = warning
dotnet_diagnostic.CA1707.severity = warning
dotnet_diagnostic.CA1709.severity = warning
dotnet_diagnostic.CA1710.severity = warning
dotnet_diagnostic.CA1711.severity = warning
dotnet_diagnostic.CA1712.severity = warning
dotnet_diagnostic.CA1713.severity = warning
dotnet_diagnostic.CA1714.severity = warning
dotnet_diagnostic.CA1715.severity = warning
dotnet_diagnostic.CA1717.severity = warning
dotnet_diagnostic.CA1719.severity = warning
dotnet_diagnostic.CA1720.severity = warning
dotnet_diagnostic.CA1721.severity = warning
dotnet_diagnostic.CA1722.severity = warning
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1725.severity = warning
dotnet_diagnostic.CA1726.severity = warning
dotnet_diagnostic.CA2204.severity = warning
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0007WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0008.severity = warning
dotnet_diagnostic.RCS1001.severity = suggestion
dotnet_diagnostic.RCS1002.severity = none
dotnet_diagnostic.RCS1003.severity = suggestion
dotnet_diagnostic.RCS1004.severity = none
dotnet_diagnostic.RCS1005.severity = silent
dotnet_diagnostic.RCS1006.severity = silent
dotnet_diagnostic.RCS1007.severity = none
dotnet_diagnostic.RCS1008.severity = warning
dotnet_diagnostic.RCS1009.severity = warning
dotnet_diagnostic.RCS1010.severity = none
dotnet_diagnostic.RCS1012.severity = warning
dotnet_diagnostic.RCS1013.severity = none
dotnet_diagnostic.RCS1014.severity = none
dotnet_diagnostic.RCS1015.severity = suggestion
dotnet_diagnostic.RCS1016.severity = none
dotnet_diagnostic.RCS1017.severity = none
dotnet_diagnostic.RCS1018.severity = suggestion
dotnet_diagnostic.RCS1019.severity = none
dotnet_diagnostic.RCS1020.severity = suggestion
dotnet_diagnostic.RCS1021.severity = suggestion
dotnet_diagnostic.RCS1022.severity = none
dotnet_diagnostic.RCS1023.severity = none
dotnet_diagnostic.RCS1024.severity = none
dotnet_diagnostic.RCS1025.severity = none
dotnet_diagnostic.RCS1026.severity = none
dotnet_diagnostic.RCS1027.severity = none
dotnet_diagnostic.RCS1028.severity = none
dotnet_diagnostic.RCS1029.severity = suggestion
dotnet_diagnostic.RCS1030.severity = none
dotnet_diagnostic.RCS1031.severity = suggestion
dotnet_diagnostic.RCS1032.severity = suggestion
dotnet_diagnostic.RCS1033.severity = suggestion
dotnet_diagnostic.RCS1034.severity = silent
dotnet_diagnostic.RCS1035.severity = none
dotnet_diagnostic.RCS1036.severity = suggestion
dotnet_diagnostic.RCS1037.severity = suggestion
dotnet_diagnostic.RCS1038.severity = suggestion
dotnet_diagnostic.RCS1039.severity = silent
dotnet_diagnostic.RCS1040.severity = silent
dotnet_diagnostic.RCS1041.severity = suggestion
dotnet_diagnostic.RCS1042.severity = silent
dotnet_diagnostic.RCS1043.severity = silent
dotnet_diagnostic.RCS1044.severity = warning
dotnet_diagnostic.RCS1045.severity = none
dotnet_diagnostic.RCS1046.severity = none
dotnet_diagnostic.RCS1047.severity = suggestion
dotnet_diagnostic.RCS1048.severity = suggestion
dotnet_diagnostic.RCS1049.severity = suggestion
dotnet_diagnostic.RCS1050.severity = none
dotnet_diagnostic.RCS1051.severity = none
dotnet_diagnostic.RCS1052.severity = none
dotnet_diagnostic.RCS1053.severity = none
dotnet_diagnostic.RCS1054.severity = silent
dotnet_diagnostic.RCS1055.severity = silent
dotnet_diagnostic.RCS1056.severity = none
dotnet_diagnostic.RCS1057.severity = suggestion
dotnet_diagnostic.RCS1058.severity = suggestion
dotnet_diagnostic.RCS1059.severity = warning
dotnet_diagnostic.RCS1060.severity = none
dotnet_diagnostic.RCS1061.severity = silent
dotnet_diagnostic.RCS1062.severity = silent
dotnet_diagnostic.RCS1063.severity = suggestion
dotnet_diagnostic.RCS1064.severity = none
dotnet_diagnostic.RCS1065.severity = none
dotnet_diagnostic.RCS1066.severity = silent
dotnet_diagnostic.RCS1067.severity = none
dotnet_diagnostic.RCS1068.severity = suggestion
dotnet_diagnostic.RCS1069.severity = silent
dotnet_diagnostic.RCS1070.severity = silent
dotnet_diagnostic.RCS1071.severity = silent
dotnet_diagnostic.RCS1072.severity = suggestion
dotnet_diagnostic.RCS1073.severity = suggestion
dotnet_diagnostic.RCS1074.severity = silent
dotnet_diagnostic.RCS1075.severity = none
dotnet_diagnostic.RCS1076.severity = silent
dotnet_diagnostic.RCS1077.severity = suggestion
dotnet_diagnostic.RCS1078.severity = none
dotnet_diagnostic.RCS1079.severity = none
dotnet_diagnostic.RCS1080.severity = suggestion
dotnet_diagnostic.RCS1081.severity = none
dotnet_diagnostic.RCS1082.severity = warning
dotnet_diagnostic.RCS1083.severity = warning
dotnet_diagnostic.RCS1084.severity = suggestion
dotnet_diagnostic.RCS1085.severity = suggestion
dotnet_diagnostic.RCS1086.severity = none
dotnet_diagnostic.RCS1087.severity = none
dotnet_diagnostic.RCS1088.severity = none
dotnet_diagnostic.RCS1089.severity = suggestion
dotnet_diagnostic.RCS1090.severity = suggestion
dotnet_diagnostic.RCS1091.severity = silent
dotnet_diagnostic.RCS1092.severity = none
dotnet_diagnostic.RCS1093.severity = suggestion
dotnet_diagnostic.RCS1094.severity = none
dotnet_diagnostic.RCS1095.severity = suggestion
dotnet_diagnostic.RCS1096.severity = suggestion
dotnet_diagnostic.RCS1097.severity = suggestion
dotnet_diagnostic.RCS1098.severity = suggestion
dotnet_diagnostic.RCS1099.severity = suggestion
dotnet_diagnostic.RCS1100.severity = none
dotnet_diagnostic.RCS1101.severity = none
dotnet_diagnostic.RCS1102.severity = none
dotnet_diagnostic.RCS1103.severity = suggestion
dotnet_diagnostic.RCS1104.severity = suggestion
dotnet_diagnostic.RCS1105.severity = suggestion
dotnet_diagnostic.RCS1106.severity = suggestion
dotnet_diagnostic.RCS1107.severity = suggestion
dotnet_diagnostic.RCS1108.severity = suggestion
dotnet_diagnostic.RCS1109.severity = suggestion
dotnet_diagnostic.RCS1110.severity = suggestion
dotnet_diagnostic.RCS1111.severity = none
dotnet_diagnostic.RCS1112.severity = suggestion
dotnet_diagnostic.RCS1113.severity = suggestion
dotnet_diagnostic.RCS1114.severity = suggestion
dotnet_diagnostic.RCS1115.severity = silent
dotnet_diagnostic.RCS1116.severity = silent
dotnet_diagnostic.RCS1117.severity = silent
dotnet_diagnostic.RCS1118.severity = suggestion
dotnet_diagnostic.RCS1119.severity = suggestion
dotnet_diagnostic.RCS1120.severity = suggestion
dotnet_diagnostic.RCS1121.severity = suggestion
dotnet_diagnostic.RCS1122.severity = none
dotnet_diagnostic.RCS1123.severity = suggestion
dotnet_diagnostic.RCS1124.severity = silent
dotnet_diagnostic.RCS1125.severity = silent
dotnet_diagnostic.RCS1126.severity = none
dotnet_diagnostic.RCS1127.severity = suggestion
dotnet_diagnostic.RCS1128.severity = suggestion
dotnet_diagnostic.RCS1129.severity = silent
dotnet_diagnostic.RCS1130.severity = suggestion
dotnet_diagnostic.RCS1131.severity = silent
dotnet_diagnostic.RCS1132.severity = suggestion
dotnet_diagnostic.RCS1133.severity = silent
dotnet_diagnostic.RCS1134.severity = silent
dotnet_diagnostic.RCS1135.severity = suggestion
dotnet_diagnostic.RCS1136.severity = silent
dotnet_diagnostic.RCS1137.severity = silent
dotnet_diagnostic.RCS1138.severity = warning
dotnet_diagnostic.RCS1139.severity = none
dotnet_diagnostic.RCS1140.severity = silent
dotnet_diagnostic.RCS1141.severity = silent
dotnet_diagnostic.RCS1142.severity = silent
dotnet_diagnostic.RCS1143.severity = silent
dotnet_diagnostic.RCS1144.severity = silent
dotnet_diagnostic.RCS1145.severity = silent
dotnet_diagnostic.RCS1146.severity = suggestion
dotnet_diagnostic.RCS1147.severity = silent
dotnet_diagnostic.RCS1148.severity = silent
dotnet_diagnostic.RCS1149.severity = silent
dotnet_diagnostic.RCS1150.severity = suggestion
dotnet_diagnostic.RCS1151.severity = silent
dotnet_diagnostic.RCS1152.severity = silent
dotnet_diagnostic.RCS1153.severity = none
dotnet_diagnostic.RCS1154.severity = suggestion
dotnet_diagnostic.RCS1155.severity = warning
dotnet_diagnostic.RCS1156.severity = suggestion
dotnet_diagnostic.RCS1157.severity = suggestion
dotnet_diagnostic.RCS1158.severity = suggestion
dotnet_diagnostic.RCS1159.severity = suggestion
dotnet_diagnostic.RCS1160.severity = suggestion
dotnet_diagnostic.RCS1161.severity = silent
dotnet_diagnostic.RCS1162.severity = none
dotnet_diagnostic.RCS1163.severity = suggestion
dotnet_diagnostic.RCS1164.severity = suggestion
dotnet_diagnostic.RCS1165.severity = silent
dotnet_diagnostic.RCS1166.severity = suggestion
dotnet_diagnostic.RCS1167.severity = silent
dotnet_diagnostic.RCS1168.severity = none
dotnet_diagnostic.RCS1169.severity = suggestion
dotnet_diagnostic.RCS1170.severity = suggestion
dotnet_diagnostic.RCS1171.severity = suggestion
dotnet_diagnostic.RCS1172.severity = warning
dotnet_diagnostic.RCS1173.severity = suggestion
dotnet_diagnostic.RCS1174.severity = none
dotnet_diagnostic.RCS1175.severity = suggestion
dotnet_diagnostic.RCS1176.severity = none
dotnet_diagnostic.RCS1177.severity = none
dotnet_diagnostic.RCS1178.severity = suggestion
dotnet_diagnostic.RCS1179.severity = suggestion
dotnet_diagnostic.RCS1180.severity = suggestion
dotnet_diagnostic.RCS1181.severity = silent
dotnet_diagnostic.RCS1182.severity = silent
dotnet_diagnostic.RCS1183.severity = silent
dotnet_diagnostic.RCS1184.severity = none
dotnet_diagnostic.RCS1185.severity = none
dotnet_diagnostic.RCS1186.severity = silent
dotnet_diagnostic.RCS1187.severity = suggestion
dotnet_diagnostic.RCS1188.severity = silent
dotnet_diagnostic.RCS1189.severity = silent
dotnet_diagnostic.RCS1190.severity = suggestion
dotnet_diagnostic.RCS1191.severity = suggestion
dotnet_diagnostic.RCS1192.severity = suggestion
dotnet_diagnostic.RCS1193.severity = warning
dotnet_diagnostic.RCS1194.severity = none
dotnet_diagnostic.RCS1195.severity = suggestion
dotnet_diagnostic.RCS1196.severity = suggestion
dotnet_diagnostic.RCS1197.severity = suggestion
dotnet_diagnostic.RCS1198.severity = none
dotnet_diagnostic.RCS1199.severity = suggestion
dotnet_diagnostic.RCS1200.severity = suggestion
dotnet_diagnostic.RCS1201.severity = silent
dotnet_diagnostic.RCS1202.severity = suggestion
dotnet_diagnostic.RCS1203.severity = warning
dotnet_diagnostic.RCS1204.severity = suggestion
dotnet_diagnostic.RCS1205.severity = suggestion
dotnet_diagnostic.RCS1206.severity = suggestion
dotnet_diagnostic.RCS1207.severity = silent
dotnet_diagnostic.RCS1208.severity = none
dotnet_diagnostic.RCS1209.severity = suggestion
dotnet_diagnostic.RCS1210.severity = warning
dotnet_diagnostic.RCS1211.severity = silent
dotnet_diagnostic.RCS1212.severity = suggestion
dotnet_diagnostic.RCS1213.severity = suggestion
dotnet_diagnostic.RCS1214.severity = suggestion
dotnet_diagnostic.RCS1215.severity = warning
dotnet_diagnostic.RCS1216.severity = suggestion
dotnet_diagnostic.RCS1217.severity = silent
dotnet_diagnostic.RCS1218.severity = suggestion
dotnet_diagnostic.RCS1219.severity = none
dotnet_diagnostic.RCS1220.severity = suggestion
dotnet_diagnostic.RCS1221.severity = suggestion
dotnet_diagnostic.RCS1222.severity = suggestion
dotnet_diagnostic.RCS1223.severity = none
dotnet_diagnostic.RCS1224.severity = suggestion
dotnet_diagnostic.RCS1225.severity = suggestion
dotnet_diagnostic.RCS1226.severity = suggestion
dotnet_diagnostic.RCS1227.severity = suggestion
dotnet_diagnostic.RCS1228.severity = silent
dotnet_diagnostic.RCS1229.severity = suggestion
dotnet_diagnostic.RCS1230.severity = suggestion
dotnet_diagnostic.RCS1231.severity = suggestion
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1210.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1604.severity = none
dotnet_diagnostic.SA1605.severity = none
dotnet_diagnostic.SA1606.severity = none
dotnet_diagnostic.SA1607.severity = none
dotnet_diagnostic.SA1608.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1615.severity = none
dotnet_diagnostic.SA1618.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1648.severity = none
dotnet_diagnostic.SX1309.severity = warning