[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ackages/
tools/Cake/
tools/Addins/
tools/NUnit.Runners/
nuget.exe
*.com
*.class
*.exe
*.o
*.so
*.user
Thumbs.db
_ReSharper*
*ReSharper.user
*dotCover
.JustCode
*.suo
.svn
ipch
*.ilk
*.sdf
*.opensdf
*.pdb
/*.~vsd
*UpgradeWizard*
.vs/*