<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Dave Glick Rules" Description="These rules represent Dave Glick's preferences and enforce consistent code quality guidelines." ToolsVersion="15.0">
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="Warning" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1045" Action="Warning" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1701" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Info" />
    <Rule Id="RCS1002" Action="None" />
    <Rule Id="RCS1003" Action="Info" />
    <Rule Id="RCS1004" Action="None" />
    <Rule Id="RCS1005" Action="Hidden" />
    <Rule Id="RCS1006" Action="Hidden" />
    <Rule Id="RCS1007" Action="None" />
    <Rule Id="RCS1008" Action="Warning" />
    <Rule Id="RCS1009" Action="Warning" />
    <Rule Id="RCS1010" Action="None" />
    <Rule Id="RCS1012" Action="Warning" />
    <Rule Id="RCS1013" Action="None" />
    <Rule Id="RCS1014" Action="None" />
    <Rule Id="RCS1015" Action="Info" />
    <Rule Id="RCS1016" Action="None" />
    <Rule Id="RCS1017" Action="None" />
    <Rule Id="RCS1018" Action="Info" />
    <Rule Id="RCS1019" Action="None" />
    <Rule Id="RCS1020" Action="Info" />
    <Rule Id="RCS1021" Action="Info" />
    <Rule Id="RCS1022" Action="None" />
    <Rule Id="RCS1023" Action="None" />
    <Rule Id="RCS1024" Action="None" />
    <Rule Id="RCS1025" Action="None" />
    <Rule Id="RCS1026" Action="None" />
    <Rule Id="RCS1027" Action="None" />
    <Rule Id="RCS1028" Action="None" />
    <Rule Id="RCS1029" Action="Info" />
    <Rule Id="RCS1030" Action="None" />
    <Rule Id="RCS1031" Action="Info" />
    <Rule Id="RCS1032" Action="Info" />
    <Rule Id="RCS1033" Action="Info" />
    <Rule Id="RCS1034" Action="Hidden" />
    <Rule Id="RCS1035" Action="None" />
    <Rule Id="RCS1036" Action="Info" />
    <Rule Id="RCS1037" Action="Info" />
    <Rule Id="RCS1038" Action="Info" />
    <Rule Id="RCS1039" Action="Hidden" />
    <Rule Id="RCS1040" Action="Hidden" />
    <Rule Id="RCS1041" Action="Info" />
    <Rule Id="RCS1042" Action="Hidden" />
    <Rule Id="RCS1043" Action="Hidden" />
    <Rule Id="RCS1044" Action="Warning" />
    <Rule Id="RCS1045" Action="None" />
    <Rule Id="RCS1046" Action="None" />
    <Rule Id="RCS1047" Action="Info" />
    <Rule Id="RCS1048" Action="Info" />
    <Rule Id="RCS1049" Action="Info" />
    <Rule Id="RCS1050" Action="None" />
    <Rule Id="RCS1051" Action="None" />
    <Rule Id="RCS1052" Action="None" />
    <Rule Id="RCS1053" Action="None" />
    <Rule Id="RCS1054" Action="Hidden" />
    <Rule Id="RCS1055" Action="Hidden" />
    <Rule Id="RCS1056" Action="None" />
    <Rule Id="RCS1057" Action="Info" />
    <Rule Id="RCS1058" Action="Info" />
    <Rule Id="RCS1059" Action="Warning" />
    <Rule Id="RCS1060" Action="None" />
    <Rule Id="RCS1061" Action="Hidden" />
    <Rule Id="RCS1062" Action="Hidden" />
    <Rule Id="RCS1063" Action="Info" />
    <Rule Id="RCS1064" Action="None" />
    <Rule Id="RCS1065" Action="None" />
    <Rule Id="RCS1066" Action="Hidden" />
    <Rule Id="RCS1067" Action="None" />
    <Rule Id="RCS1068" Action="Info" />
    <Rule Id="RCS1069" Action="Hidden" />
    <Rule Id="RCS1070" Action="Hidden" />
    <Rule Id="RCS1071" Action="Hidden" />
    <Rule Id="RCS1072" Action="Info" />
    <Rule Id="RCS1073" Action="Info" />
    <Rule Id="RCS1074" Action="Hidden" />
    <Rule Id="RCS1075" Action="None" />
    <Rule Id="RCS1076" Action="Hidden" />
    <Rule Id="RCS1077" Action="Info" />
    <Rule Id="RCS1078" Action="None" />
    <Rule Id="RCS1079" Action="None" />
    <Rule Id="RCS1080" Action="Info" />
    <Rule Id="RCS1081" Action="None" />
    <Rule Id="RCS1082" Action="Warning" />
    <Rule Id="RCS1083" Action="Warning" />
    <Rule Id="RCS1084" Action="Info" />
    <Rule Id="RCS1085" Action="Info" />
    <Rule Id="RCS1086" Action="None" />
    <Rule Id="RCS1087" Action="None" />
    <Rule Id="RCS1088" Action="None" />
    <Rule Id="RCS1089" Action="Info" />
    <Rule Id="RCS1090" Action="Info" />
    <Rule Id="RCS1091" Action="Hidden" />
    <Rule Id="RCS1092" Action="None" />
    <Rule Id="RCS1093" Action="Info" />
    <Rule Id="RCS1094" Action="None" />
    <Rule Id="RCS1095" Action="Info" />
    <Rule Id="RCS1096" Action="Info" />
    <Rule Id="RCS1097" Action="Info" />
    <Rule Id="RCS1098" Action="Info" />
    <Rule Id="RCS1099" Action="Info" />
    <Rule Id="RCS1100" Action="None" />
    <Rule Id="RCS1101" Action="None" />
    <Rule Id="RCS1102" Action="None" />
    <Rule Id="RCS1103" Action="Info" />
    <Rule Id="RCS1104" Action="Info" />
    <Rule Id="RCS1105" Action="Info" />
    <Rule Id="RCS1106" Action="Info" />
    <Rule Id="RCS1107" Action="Info" />
    <Rule Id="RCS1108" Action="Info" />
    <Rule Id="RCS1109" Action="Info" />
    <Rule Id="RCS1110" Action="Info" />
    <Rule Id="RCS1111" Action="None" />
    <Rule Id="RCS1112" Action="Info" />
    <Rule Id="RCS1113" Action="Info" />
    <Rule Id="RCS1114" Action="Info" />
    <Rule Id="RCS1115" Action="Hidden" />
    <Rule Id="RCS1116" Action="Hidden" />
    <Rule Id="RCS1117" Action="Hidden" />
    <Rule Id="RCS1118" Action="Info" />
    <Rule Id="RCS1119" Action="Info" />
    <Rule Id="RCS1120" Action="Info" />
    <Rule Id="RCS1121" Action="Info" />
    <Rule Id="RCS1122" Action="None" />
    <Rule Id="RCS1123" Action="Info" />
    <Rule Id="RCS1124" Action="Hidden" />
    <Rule Id="RCS1125" Action="Hidden" />
    <Rule Id="RCS1126" Action="None" />
    <Rule Id="RCS1127" Action="Info" />
    <Rule Id="RCS1128" Action="Info" />
    <Rule Id="RCS1129" Action="Hidden" />
    <Rule Id="RCS1130" Action="Info" />
    <Rule Id="RCS1131" Action="Hidden" />
    <Rule Id="RCS1132" Action="Info" />
    <Rule Id="RCS1133" Action="Hidden" />
    <Rule Id="RCS1134" Action="Hidden" />
    <Rule Id="RCS1135" Action="Info" />
    <Rule Id="RCS1136" Action="Hidden" />
    <Rule Id="RCS1137" Action="Hidden" />
    <Rule Id="RCS1138" Action="Warning" />
    <Rule Id="RCS1139" Action="None" />
    <Rule Id="RCS1140" Action="Hidden" />
    <Rule Id="RCS1141" Action="Hidden" />
    <Rule Id="RCS1142" Action="Hidden" />
    <Rule Id="RCS1143" Action="Hidden" />
    <Rule Id="RCS1144" Action="Hidden" />
    <Rule Id="RCS1145" Action="Hidden" />
    <Rule Id="RCS1146" Action="Info" />
    <Rule Id="RCS1147" Action="Hidden" />
    <Rule Id="RCS1148" Action="Hidden" />
    <Rule Id="RCS1149" Action="Hidden" />
    <Rule Id="RCS1150" Action="Info" />
    <Rule Id="RCS1151" Action="Hidden" />
    <Rule Id="RCS1152" Action="Hidden" />
    <Rule Id="RCS1153" Action="None" />
    <Rule Id="RCS1154" Action="Info" />
    <Rule Id="RCS1155" Action="Warning" />
    <Rule Id="RCS1156" Action="Info" />
    <Rule Id="RCS1157" Action="Info" />
    <Rule Id="RCS1158" Action="Info" />
    <Rule Id="RCS1159" Action="Info" />
    <Rule Id="RCS1160" Action="Info" />
    <Rule Id="RCS1161" Action="Hidden" />
    <Rule Id="RCS1162" Action="None" />
    <Rule Id="RCS1163" Action="Info" />
    <Rule Id="RCS1164" Action="Info" />
    <Rule Id="RCS1165" Action="Hidden" />
    <Rule Id="RCS1166" Action="Info" />
    <Rule Id="RCS1167" Action="Hidden" />
    <Rule Id="RCS1168" Action="None" />
    <Rule Id="RCS1169" Action="Info" />
    <Rule Id="RCS1170" Action="Info" />
    <Rule Id="RCS1171" Action="Info" />
    <Rule Id="RCS1172" Action="Warning" />
    <Rule Id="RCS1173" Action="Info" />
    <Rule Id="RCS1174" Action="None" />
    <Rule Id="RCS1175" Action="Info" />
    <Rule Id="RCS1176" Action="None" />
    <Rule Id="RCS1177" Action="None" />
    <Rule Id="RCS1178" Action="Info" />
    <Rule Id="RCS1179" Action="Info" />
    <Rule Id="RCS1180" Action="Info" />
    <Rule Id="RCS1181" Action="Hidden" />
    <Rule Id="RCS1182" Action="Hidden" />
    <Rule Id="RCS1183" Action="Hidden" />
    <Rule Id="RCS1184" Action="None" />
    <Rule Id="RCS1185" Action="None" />
    <Rule Id="RCS1186" Action="Hidden" />
    <Rule Id="RCS1187" Action="Info" />
    <Rule Id="RCS1188" Action="Hidden" />
    <Rule Id="RCS1189" Action="Hidden" />
    <Rule Id="RCS1190" Action="Info" />
    <Rule Id="RCS1191" Action="Info" />
    <Rule Id="RCS1192" Action="Info" />
    <Rule Id="RCS1193" Action="Warning" />
    <Rule Id="RCS1194" Action="None" />
    <Rule Id="RCS1195" Action="Info" />
    <Rule Id="RCS1196" Action="Info" />
    <Rule Id="RCS1197" Action="Info" />
    <Rule Id="RCS1198" Action="None" />
    <Rule Id="RCS1199" Action="Info" />
    <Rule Id="RCS1200" Action="Info" />
    <Rule Id="RCS1201" Action="Hidden" />
    <Rule Id="RCS1202" Action="Info" />
    <Rule Id="RCS1203" Action="Warning" />
    <Rule Id="RCS1204" Action="Info" />
    <Rule Id="RCS1205" Action="Info" />
    <Rule Id="RCS1206" Action="Info" />
    <Rule Id="RCS1207" Action="Hidden" />
    <Rule Id="RCS1208" Action="None" />
    <Rule Id="RCS1209" Action="Info" />
    <Rule Id="RCS1210" Action="Warning" />
    <Rule Id="RCS1211" Action="Hidden" />
    <Rule Id="RCS1212" Action="Info" />
    <Rule Id="RCS1213" Action="Info" />
    <Rule Id="RCS1214" Action="Info" />
    <Rule Id="RCS1215" Action="Warning" />
    <Rule Id="RCS1216" Action="Info" />
    <Rule Id="RCS1217" Action="Hidden" />
    <Rule Id="RCS1218" Action="Info" />
    <Rule Id="RCS1219" Action="None" />
    <Rule Id="RCS1220" Action="Info" />
    <Rule Id="RCS1221" Action="Info" />
    <Rule Id="RCS1222" Action="Info" />
    <Rule Id="RCS1223" Action="None" />
    <Rule Id="RCS1224" Action="Info" />
    <Rule Id="RCS1225" Action="Info" />
    <Rule Id="RCS1226" Action="Info" />
    <Rule Id="RCS1227" Action="Info" />
    <Rule Id="RCS1228" Action="Hidden" />
    <Rule Id="RCS1229" Action="Info" />
    <Rule Id="RCS1230" Action="Info" />
    <Rule Id="RCS1231" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>