<!-- Header -->
<div id="header-wrapper">
    <div id="header">
        <!-- Logo -->
        <h1><a href="/">Adventure Time!</a></h1>
        @if(Model.FilePath("RelativeFilePath").Equals("index.cshtml"))
        {
            <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>Explore the Land of Ooo...</h2>
                    <p>...and its many kingdoms!</p>
                </header>
            </section>
        }
    </div>
</div>
