<head>
    <title>@Model["title"]</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@Model["description"]" />
    
    <meta name="keywords" content="adventure time,cartoon network,cartoons,finn,jake,princess bubblegum" />
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-layers.min.js"></script>
    <script src="/js/init.js"></script>
    <link rel="stylesheet" href="/css/skel.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-desktop.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="@Model["title"]" href="feed.xml" />
</head>