<section id="banner">
  <div class="inner">
    @if(Context.String(BlogKeys.Description) != null)
    {
        <h2>@Context.String(BlogKeys.Description)</h2>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        <p>@Context.String(BlogKeys.Intro)</p>
    }
  </div>
</section>