@{
    var pages = Documents[Blog.Pages]
        .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
        .Select(x => Tuple.Create(x.WithoutSettings.String(BlogKeys.Title), Context.GetLink(x)))
        .Where(x => !string.IsNullOrEmpty(x.Item1))
        .OrderBy(x => x.Item1);
    foreach(var page in pages)
    {
        <li><a href="@page.Item2">@page.Item1</a></li>
    }
}