---
  title: Hello World
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>Hello {{ 'tobi' | upcase }}</div>
    <div>Hello tobi has {{ 'tobi' | size }} letters!</div>
    <div>Hello {{ '*tobi*' | textilize | upcase }}</div>
    <div>Hello {{ 'now' | date:"MMMM dd, yyyy" }}
</body>
</html>