---
  title: Hello World
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>{{ 'liquid' | upcase }}</div>
<div>liquid has {{ 'liquid' | size }} letters!</div>
<div>{{ '11/1/2017' | date:'MMMM dd, yyyy' }}</div>
</body>
</html>