@using Microsoft.AspNetCore.Html;
@{
	IReadOnlyList<IDocument> attributes = Model.List<IDocument>(CodeAnalysisKeys.Attributes);
}
@if(attributes != null && attributes.Count > 0)
{
	<h1 id="Attributes">Attributes</h1>
	<div class="box">
		<div class="box-body no-padding table-responsive">
			<table class="table table-striped table-hover two-cols">
				<thead>
					<tr>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				@foreach(IDocument attribute in attributes)
				{
					IDocument type = attribute.Document(CodeAnalysisKeys.Type);
					<tr>
						<td>@Context.GetTypeLink(type)</td>
						<td>@Html.Raw(type.String("Summary"))</td>
					</tr>
				}
			</table>
		</div>
	</div>	
}