@using Microsoft.AspNetCore.Html;

@if(Model.Get<bool>(CodeAnalysisKeys.HasConstantValue))
{
	object constantValue = Model.Get(CodeAnalysisKeys.ConstantValue);
	<h1 id="Value">Constant Value</h1>
	<div class="box">
		<div class="box-body no-padding table-responsive">
			<table class="table table-striped table-hover two-cols">
				<thead>
					<tr>
						<th>Value</th>
						<th>Type</th>
					</tr>
				</thead>
				<tr>
					<td>@(new HtmlString(constantValue?.ToString() ?? "null"))</td>
					<td>@(new HtmlString(constantValue?.GetType().Name ?? string.Empty))</td>
				</tr>
			</table>
		</div>
	</div>	
}