@using Microsoft.AspNetCore.Html;
@{
	IList<IDocument> methods = Model.List<IDocument>("Members")
		?.Where(x => x.Bool("IsResult") && x.String("Kind") == "Method")
		.OrderBy(x => x["DisplayName"])
		.ToList();
	if(methods.Count > 0)
	{
		<text>
			<h1 id="Methods">Methods</h1>
			<div class="box">
				<div class="box-body no-padding table-responsive">
					<table class="table table-striped table-hover three-cols">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th>Summary</th>
							</tr>
						</thead>
						@foreach(IDocument method in methods)
						{
							IDocument returnType = method.Get<IDocument>("ReturnType");
							<tr>
								<td>@Context.GetTypeLink(method)</td>
								<td>@(returnType == null ? new HtmlString(string.Empty) : Context.GetTypeLink(returnType))</td>
								<td>
									<div>@Html.Raw(method["Summary"])</div>
									@{
										IDocument containingType = method.Document(CodeAnalysisKeys.ContainingType);
										if(containingType != Model)
										{
											<div><small><em>Inherited from @Context.GetTypeLink(containingType)</em></small></div>
										}
										if(method.Bool(CodeAnalysisKeys.IsStatic))
										{
											<div><small><em>static</em></small></div>
										}
									}
								</td>
							</tr>
						}
					</table>
				</div>
			</div>
		</text>
	}
}