@using Microsoft.AspNetCore.Html;
@{
	IDocument returnType = Model.Get<IDocument>("ReturnType");
	string returns = Model.String("Returns");
}
@if(returnType != null || !string.IsNullOrWhiteSpace(returns))
{
	<h1 id="ReturnValue">Return Value</h1>
	<div class="box">
		<div class="box-body no-padding table-responsive">
			<table class="table table-striped table-hover two-cols">
				<thead>
					<tr>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				<tr>
					<td>@(returnType == null ? new HtmlString("void") : Context.GetTypeLink(returnType))</td>
					<td>@Html.Raw(returns)</td>
				</tr>
			</table>
		</div>
	</div>	
}