@using Microsoft.AspNetCore.Html;
@{
	IDocument type = Model.Get<IDocument>("Type");
	string value = Model.String("Value");
}
@if(type != null || !string.IsNullOrWhiteSpace(value))
{
	<h1>Value</h1>
	<div class="box">
		<div class="box-body no-padding">
			<table class="table table-striped table-hover two-cols">
				<thead>
					<tr>
						<th>Type</th>
						<th>Description</th>
					</tr>
				</thead>
				<tr>
					<td>@(type == null ? new HtmlString(string.Empty) : Context.GetTypeLink(type))</td>
					<td>@Html.Raw(value)</td>
				</tr>
			</table>
		</div>
	</div>	
}