@{
    ViewBag.Title = "About";
}

<section id="intro" class="main">
    <header class="major">
        <h2>@ViewBag.Title.</h2>
    </header>

    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</section>