<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.2.2" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.2.2" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="1.2.2" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.2.2" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="NuGet.Client" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Commands" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Common" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Configuration" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.ContentModel" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Core" version="2.11.1" targetFramework="net46" />
  <package id="NuGet.DependencyResolver" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.DependencyResolver.Core" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.LibraryModel" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Logging" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.PackageManagement" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.ProjectManagement" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.ProjectModel" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.Types" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v2" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v3" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Repositories" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Resolver" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.RuntimeModel" version="3.4.3" targetFramework="net46" />
  <package id="NuGet.Versioning" version="3.4.3" targetFramework="net46" />
  <package id="System.AppContext" version="4.0.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.10" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net46" />
  <package id="System.Diagnostics.StackTrace" version="4.0.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net46" />
  <package id="System.IO" version="4.0.10" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.0.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.0.10" targetFramework="net46" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net46" />
  <package id="System.Runtime.Handles" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.0.20" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.10" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net46" />
</packages>