<div class="site-heading">
    @if(Context.String(BlogKeys.SiteDescription) != null)
    {
        <h1>@Context.String(BlogKeys.SiteDescription)</h1>
    }
    @if(Context.String(BlogKeys.SiteIntro) != null)
    {            
        @if(Context.String(BlogKeys.SiteDescription) != null)
        {
            <hr class="small">
        }
        <span class="subheading">@Context.String(BlogKeys.SiteIntro)</span>
    }
</div>