<div class="site-heading">
    @if(Context.String(BlogKeys.Description) != null)
    {
        <h1>@Context.String(BlogKeys.Description)</h1>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        @if(Context.String(BlogKeys.Description) != null)
        {
            <hr class="small">
        }
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>
    }
</div>