<li><a href="http://wyam.io/">Wyam</a></li>
<li><a href="http://fluentbootstrap.com/">FluentBootstrap</a></li>
<li><a class="hidden-xs">|</a><a class="visible-xs-block">-</a></li>
<li><a href="/about">About</a></li>
<li><a href="/posts">Archive</a></li>
<li><a href="/tags">Tags</a></li>