<h1>Home</h1>
<hr/>
<p>Hi, this paragraph has a little bit about me.</p>
<h2>Posts</h2>
@foreach(MyDocument doc in Documents["Posts"].Cast<MyDocument>().OrderBy(x => x.Title))
{
	<ul>
		<li><a href="@doc.FilePath("RelativeFilePath").ToLink()">@doc.Title</a> - @doc.Published</li>
	</ul>
}