ArchiveSources: posts/*
ArchiveOrderKey: Source
ArchiveOrderDescending: false
---
<p>This is a simple archive that lists all the documents from the <code>posts</code> folder on a single page, sorted by file name in ascending order.</p>

@foreach (IDocument document in Model.GetChildren())
{
    <h5>@Html.DocumentLink(document)</h5>
    @Html.Raw(document.GetString(Keys.Excerpt))
}