<li class="header">Assemblies</li>   
@{
    IReadOnlyList<IDocument> assemblies = 
        Documents.FromPipeline(Docs.Api)
			.Where(x => x.String("Kind") == "Assembly")
            .OrderBy(x => x.String("DisplayName"))
            .ToList();
    foreach(IDocument assembly in assemblies)
    {
        string selectedClass = assembly.String("SymbolId") == Model.String("SymbolId") ? "selected" : null;
        <li class="@selectedClass">@Context.GetTypeLink(assembly, false)</li>
    }
}