<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" data-no-mirror>
        <title>Archives Examples@(Model.ContainsKey(WebKeys.Title) ? (" - " + Model.GetString(WebKeys.Title)) : string.Empty)</title>
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Home</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        @foreach (IDocument child in OutputPages.GetChildrenOf(OutputPages["index.html"].Single()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@child.GetLink()">@child.GetString(WebKeys.Title)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="mt-4">
                <h1>@Model.GetString(WebKeys.Title)</h1>
                <hr />
                @RenderBody()
            </div>
        </div>
    </body>
</html>