<header id="header">
    @if(Context.String(BlogKeys.Description) != null)
    {
        <h1>@Context.String(BlogKeys.Description)</h1>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        <p>@Context.String(BlogKeys.Intro)</p>
    }
</header>