@{
    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}

<header id="header">
    <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <p>@Lead</p>
    }             
    <hr/>     
    @if (Published != default(DateTime))
    {
        <p><em>Published on @Published.ToLongDateString()</em></p>
    }   
</header>