@if(Context.Bool(DocsKeys.SearchIndex))
{
    <script src="@Context.GetLink("/assets/js/lunr.min.js")"></script>
    <script src="@Context.GetLink("/assets/js/searchIndex.js")"></script>
    <div class="sidebar-form">
        <div class="input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search Types...">
            <span class="input-group-btn">
                <button class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div id="search-results">
    </div>
    <script>
        function runSearch(query){
            $("#search-results").empty();			
            if( query.length < 2 ){
                return;
            }			
            var results = searchModule.search("*" + query + "*");
            var listHtml = "<ul class='sidebar-menu'>";	
            listHtml += "<li class='header'>Type Results</li>";	
            if(results.length == 0 ){
                listHtml += "<li>No results found</li>";
            } else {					
                for(var i = 0; i < results.length; ++i){
                    var res = results[i];
                    listHtml += "<li><a href='" + res.url + "'>" + htmlEscape(res.title) + "</a></li>";
                }				
            }
            listHtml += "</ul>";				
            $("#search-results").append(listHtml);
        }

        $(document).ready(function(){
            $("#search").on('input propertychange paste', function() {
                runSearch($("#search").val());
            });
        });

        function htmlEscape(html) {
            return document.createElement('div')
                .appendChild(document.createTextNode(html))
                .parentNode
                .innerHTML;
        }
    </script>
}