@{
    string baseEditUrl = Context.String(DocsKeys.BaseEditUrl);
    FilePath editFilePath = Model.FilePath(DocsKeys.EditFilePath);
    if(!string.IsNullOrWhiteSpace(baseEditUrl) && editFilePath != null)
    {
        string editUrl = baseEditUrl + editFilePath.FullPath;
        <div><p><a href="@editUrl"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Content</a></p></div>
    }
    <div id="infobar-headings"></div>
}