<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="1.0.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net46" />
</packages>