<!DOCTYPE html>
<html>

  @Html.Partial("partials/_head")

  <body>

    @Html.Partial("partials/_header")

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("partials/_footer")

  </body>

</html>