@{
	Layout = @"_default.cshtml";
}

<!-- Content -->
<article class="box post">
    <div class="image featured" style="background-image: url('@Model["banner"]');"></div>
    <header>
        <h2>@Model["title"]</h2>
        <p>@Model["shortdesc"]</p>
    </header>
    @RenderBody()
</article>