<html>
	<head>
		<title>Code Analysis Example - @(Model.String("DisplayName") ?? "Index")</title>
	</head>
	<body>
		<h1>@(Model.String("DisplayName") ?? "Index")</h1>
		<hr />
		@RenderBody()
	</body>
</html>