<h2>Classes</h2>
<ul>
	@foreach(IDocument symbolDocument in 
		Documents.FromPipeline("Code")
		.OrderBy(x => x.String("DisplayName")))
	{
		<li><a href="@(symbolDocument.Link("WritePath"))">@symbolDocument.String("DisplayName")</a> - @symbolDocument.String("Summary")</li>
	}
</ul>