<!DOCTYPE html>
<html>

  @Html.Partial("_head") 

  <body>
    @Html.Partial("_Nav")
    
    <main role="main" class="ðŸ†">

      @RenderBody()

    </main>

    @Html.Partial("_footer") 

  </body>
</html>

