@model bool
<footer class="section-padding--sm footer">
  <span>
  @if(Model){
  <a class="footer__archive" href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Archive</a>
  }
  </span>
  <ul class="footer__social">
    <li><a class="fa fa-lg fa-rss" href="/feed.rss" target="_blank"></a></li>
    @foreach(var social in Context.Get<Dictionary<string,string>>("SocialMedia") ?? new Dictionary<string,string>()){
      <li><a class="fa fa-lg fa-@social.Key" href="@social.Value" target="_blank"></a></li>
      }
  </ul>
</footer>
