<div class="title">About The Author</div>
<div id="main" class="container">
    <!-- <img src=""> -->
    <section id="features">
        <header class="style1">
            <h2>Deane Barker</h2>
            <p>
                Deane is a founding partner at Blend Interactive and has over 17 years of web experience. He has been working in web content management
                since the mid-90s -- before the discipline even had a name. Deane is a veteran of hundreds of implementations, ranging from small marketing
                websites to massive publishing operations, across nearly every programming architecture and dozens of different CMS platforms. Deane writes
                about various website technologies, including content management, at Gadgetopia and speaks frequently on the content management conference circuit.
            </p>
        </header>
    </section>
</div>