<div class="title">Recent Blog Posts</div>
<div class="container">
    @foreach(IDocument post in Documents[BookSite.BlogPosts].Take(2))
    {
        <section class="highlight">
            <h3><a href="@Context.GetLink(post)">@(post.String(Keys.Title))</a></h3>
            <p><i>Posted on @(post.Get<DateTime>(BookSiteKeys.Published).ToLongDateString(Context))</i></p>
            @Html.Raw(post.String(HtmlKeys.Excerpt))
        </section>
    }
</div>