@{
	// Get the root
	IDocument root = Document;
	IDocument parent = root.Document(Keys.Parent);
	while(parent != null)
	{
		root = parent;
		parent = root.Document(Keys.Parent);
	}	
	
	// Display the menu
	IReadOnlyList<IDocument> children = root.DocumentList(Keys.Children);
	if(children != null && children.Count > 0)
	{
        <ul>
            @foreach(IDocument child in children)
            {
                <li><a href="@Context.GetLink(child)">@childTitle</a></li>
            }
        </ul>
	}
}