<div class="title">What Readers Are Saying</div>
<div id="highlights" class="container">
    <div class="row 150%">
        <div class="4u 12u(mobile)">
            <section class="highlight">
                <p>The book is easy to read and has cleared up a lot of things I’d missed when working with Laravel 4 and in the process of migrating to Laravel 5.</p>
                <h3><a href="#">Robin Layfield</a></h3>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="highlight">
                <p>Fantastic book, really helpful, useful, readable and informative. Probably the best book on Laravel I have read.</p>
                <h3><a href="#">Derek McWhinnie</a></h3>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section class="highlight">
                <p>Easy Laravel 5 was quite refreshing even though I bought it at a time when I was already an experienced Laravel developer.</p>
                <h3><a href="#">Steve Popoola</a></h3>
            </section>
        </div>
    </div>
</div>