<div id="intro-wrapper" class="wrapper style1">
	<div class="title">Introduction</div>
	<section id="intro" class="container">
        <div class="row">
			<div class="3u 12u(mobile) image">
		        <img src="@Context.String(BookSiteKeys.BookImage)">
			</div>
			<div class="9u 12u(mobile)">
                <p class="style1">@Context.String(BookSiteKeys.Description)</p>
                <ul class="actions">
                    <li><a href="#" class="button big">Order Now</a></li>
                </ul>
			</div>
		</div>
	</section>
</div>