<li class="current"><a href="@Context.GetLink("/")">Home</a></li>
<li>
    <a href="#">Dropdown</a>
    <ul>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Magna veroeros</a></li>
        <li><a href="#">Etiam nisl</a></li>
        <li>
            <a href="#">Sed consequat</a>
            <ul>
                <li><a href="#">Lorem dolor</a></li>
                <li><a href="#">Amet consequat</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam nisl</a></li>
                <li><a href="#">Sed feugiat</a></li>
            </ul>
        </li>
        <li><a href="#">Nisl tempus</a></li>
    </ul>
</li>
<li><a href="left-sidebar.html">Left Sidebar</a></li>
<li><a href="right-sidebar.html">Right Sidebar</a></li>
<li><a href="no-sidebar.html">No Sidebar</a></li>