@Html.Partial("_Introduction")

<!-- Main -->
<div class="wrapper style2">
	<div class="title">The Details</div>
	<div id="main" class="container">

		<!-- Image -->
			<a href="#" class="image featured">
				<!--<img src="images/pic01.jpg" alt="" />-->
			</a>

		<!-- Features -->
			<section id="features">
				<header class="style1">
					<h2>Dolor consequat feugiat amet veroeros</h2>
					<p>Feugiat dolor nullam orci pretium phasellus justo</p>
				</header>
				<div class="feature-list">
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-comment">Mattis velit diam vulputate</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-refresh">Lorem ipsum dolor sit veroeros</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-picture-o">Pretium phasellus justo lorem</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-cog">Tempus sed pretium orci</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-wrench">Aliquam consequat et feugiat</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<h3 class="icon fa-check">Dolore laoreet aliquam mattis</h3>
								<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
							</section>
						</div>
					</div>
				</div>
				<ul class="actions actions-centered">
					<li><a href="#" class="button style1 big">Get Started</a></li>
					<li><a href="#" class="button style2 big">More Info</a></li>
				</ul>
			</section>

	</div>
</div>

<!-- Highlights -->
<div class="wrapper style3">
	<div class="title">The Endorsements</div>
	<div id="highlights" class="container">
		<div class="row 150%">
			<div class="4u 12u(mobile)">
				<section class="highlight">
					<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
					<h3><a href="#">Aliquam diam consequat</a></h3>
					<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button style1">Learn More</a></li>
					</ul>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<section class="highlight">
					<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
					<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
					<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button style1">Learn More</a></li>
					</ul>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<section class="highlight">
					<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
					<h3><a href="#">Mattis tempus lorem</a></h3>
					<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button style1">Learn More</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>