<ul class="list-unstyled">
    <li><a href="https://twitter.com/daveaglick"><i class="fa fa-twitter"></i> Twitter (daveaglick)</a></li>
    <li><a href="https://github.com/daveaglick"><i class="fa fa-github"></i> GitHub (daveaglick)</a></li>
    <li><a href="http://stackoverflow.com/users/807064/daveaglick"><i class="fa fa-stack-overflow"></i> Stack Overflow (daveaglick)</a></li>
    <li><a href="http://www.linkedin.com/pub/dave-glick/a/871/424/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://flickr.com/photos/somedave/"><i class="fa fa-flickr"></i> Flickr (somedave)</a></li>
    <li><a href="http://www.goodreads.com/daveaglick"><i class="fa fa-book"></i> Goodreads (daveaglick)</a></li>
</ul>