
<!DOCTYPE html>
<html>
  <body>
  <span>Welcome to</span>
      @if(Context.String(BlogKeys.Description) != null)
    {
        <a href="@Context.GetLink(Context.String(Keys.Host))"> <h1>@Context.String(BlogKeys.Description)</h1> </a>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        @if(Context.String(BlogKeys.Description) != null)
        {
            <hr>
        }
        <span>@Context.String(BlogKeys.Intro)</span>
    }
      @RenderBody()

  </body>
</html>

