@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

html, body {
    overflow-x: hidden;
    width: 100%;
}

@media screen {
    @include media-breakpoint-up(md) {
        body {
            min-height: 100vh;
        }
    }

    @include media-breakpoint-down(md) {
        body {
            -webkit-overflow-scrolling: touch;
        }
    }
}

$font-family-serif: 'Bree Serif', serif !default;

h1, h2, h3 {
    font-family: $font-family-serif;
}

h2, h3 {
    color: $secondary;
}

.post-title {
    border-left-color: $primary;
    border-left-style: solid;
    border-left-width: 8px;
}

#footer {
    font-size: $font-size-sm;

    &, & a, & a:visited, & a:active, & a:hover {
        color: $white;
    }
}
