@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";
@import "adminlte/variables.less";
@import "adminlte/mixins.less";
@import "theme/variables.less";

body.wyam {
  background-image: none;
  background-color: #f4f4f4;

  a:link,
  a:visited,
  a:active {
    color: @theme-primary;
  }
  a:hover {
      color: lighten(@theme-primary, 10%);
  }

  &.layout-boxed {  
    .top-banner {
      background-color: @theme-primary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
    }
    
    &.no-gutter {
      .top-banner {
        height: 50px;
      }
    }
  
    .wrapper {
      box-shadow: none;
      border: none; 
    }
      
    .bottom-wrapper {
      border: none;
      background: transparent;
    }  
  }
  
  &.layout-top-nav {
    .content-wrapper,
    .main-footer {
      border-left: none;
    }
    
    .main-header > .navbar {
        /* make space for logo, even when no sidebar */
        margin-left: 230px;
        
        @media (max-width: @screen-header-collapse) {
          margin-left: 0;
        }
    }
  }
}


@media (max-width: @screen-header-collapse) {
  body.wyam.layout-boxed {  
    .wrapper {
      border-left: none;
      border-right: none;
    }
    
    .main-sidebar {
      width: @sidebar-width - 1px;
    }
    
    .main-sidebar, .left-side {
      padding-top: 50px;
    }
    
    .wrapper {      
      border-radius: 0;
    }
    
    .content-wrapper,
    .main-footer {
      margin-left: -1px;
    }
  }
}

.wyam {
  //Navbar
  .main-header {    
    background-color: @theme-primary;
      
    .navbar {
      .navbar-variant(@theme-primary; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@theme-primary, 5%);
        }
      }
      .navbar-toggle
      {
        font-family: "fontAwesome";
        &:before {
          content: "\f0c9";
        }
      }
      @media (max-width: @screen-header-collapse) {
          .dropdown-menu {
            li {
              &.divider {
                background-color: rgba(255, 255, 255, 0.1);
              }
              a {
                color: #fff;
                &:hover {
                  background: darken(@theme-primary, 5%);
                }
              }
            }
          }
        }
      }
    
      //Logo
      .logo {
        .logo-variant(@theme-primary);
        @media (max-width: @screen-header-collapse) {
          position: absolute;
          top: 0;
          z-index: 1001;
          background-color: transparent;
          width: 170px;
          left: 50%;
          margin-left: -85px;
          padding: 0;
          
          & .logo-lg {
            width: 170px;
          }
        }
      }
  
      li.user-header {
        background-color: @theme-primary;
      }
    }
    
    .wrapper {
      margin-bottom: 30px;
    }
    
    //Content Header
    .content-header {
      background: transparent;
      padding-top: 0;
      
      h1 {
        font-size: floor((@font-size-base * 2.6));
        background-color: #f4f4f4;
        padding: 8px 16px;
        .border-radius(@border-radius-large);   
      }
    }
    
    .content,
    .content-header
    {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    //Create the sidebar skin
    .skin-light-sidebar(@theme-primary);
    
    .sidebar {
      padding: 30px 12px 0 12px;
    }
    
    .sidebar-menu {
      &,
      li,
      li a {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;    
        .border-radius(@border-radius-small);         
      }
      
      li a {
        padding-top: 6px;
        padding-bottom: 6px;        
      }

      li a:link,
      li a:visited,
      li a:active {
        color: @gray-dark;
      }
      li a:hover {
       color: #000;
      }

      li.treeview.active > a,
      & > li.treeview.active > a,
      li.treeview.active:hover > a,
      & > li.treeview.active:hover > a,
      li:hover > a,
      & > li:hover > a
      {
          background: transparent;
          color: inherit;
      }
      
      li.active > a,
      & > li.active > a,
      li.active:hover > a,
      & > li.active:hover > a
      {
          background-color: @theme-primary;
          color: white;
      }
            
      li.divider {
          padding-top: 15px;
          border-bottom: 1px solid @gray-lighter;
          margin-bottom: 15px;
      }
      
      li.header {
        text-transform: uppercase;
        font-size: @font-size-base;
        font-weight: bold; 
        color: @gray;       
      }           

      .treeview-menu > li > a,
      .treeview-menu > li.header
      {
        padding-left: 30px;
      } 

      & > li > .treeview-menu
      {
        background-color: transparent;
      }
    } 
        
    .table-striped tr
    {
        background-color: #f9fafc;
    }
    
    .table thead tr
    {
        background-color: @theme-primary;
        color: #fff;
    }
    
    .box
    {
        border-top-color: darken(@theme-primary, 10%);    
    }
          
    .main-header,  
    .main-footer
    {
      margin-bottom: 30px;
    }
    
    &.no-gutter .main-header
    {
      margin-bottom: 0px;
    }
    
    .main-footer
    {
      border-top: none;
    }
       
    .bottom-footer {
      text-align: center;
    }
    
    .wrapper,
    .content-wrapper,
    .main-sidebar,
    .left-side,
    .right-side {
      background-color: white;
    }
}

.wyam.layout-top-nav .main-header > .logo {
  .logo-variant(@theme-primary);
}

hr {
    border-top-color: #B5BBC8;
}

.lead {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid @theme-primary;
}

.three-cols th,
.three-cols td {
	width: 30%;
}

.two-cols th,
.two-cols td {
    width: 60%;
}

.two-cols th:last-child,
.two-cols td:last-child,
.three-cols th:last-child,
.three-cols td:last-child {
	width: 40%;
}

.two-cols-alt th,
.two-cols-alt td {
    width: 30%;
}

.two-cols-alt th:last-child,
.two-cols-alt td:last-child {
	width: 70%;
}

.larger {
    font-size: @font-size-large;
}

.smaller {
    font-size: @font-size-small;
}

.content-header > hr {
    margin-bottom: 0;
}

h1 {
	font-weight: bold;
}

dl ul,
dl ol {
	margin-bottom: 0;
}

.box-body dl,
.box-body.lead {
	margin-bottom: 0;
}

.paramref, .typeparamref {
	font-style: italic;
}

/* Infobar */

.infobar {
  padding: 30px 12px 0 27px
}

.affix {
    position: relative;
}

@media only screen and (max-width: 1249px)
{
  .wyam .sidebar {
    padding-top: 0;
  }
}

@media only screen and (min-width: 1250px)
{
  .infobar {
    padding: 15px;
    position: absolute;
    left: 1250px;
    top: 80px;
    width: 230px;
  }

  .infobar-hidden {
    display: none;
  }

  .wrapper.with-container {
    overflow: visible;
  }
      
  .affix {
    top: 20px;
    position: fixed;
    left: initial;
    margin-left: 1250px;
  }
}

@media only screen and (max-width: 1670px) and (min-width: 1250px) {
  .wrapper.with-container {
    max-width: 1020px;
    left: -115px;
  }

  .infobar {
    padding: 15px;
    position: absolute;
    left: 1020px;
    top: 80px;
    width: 230px;
  }

  .affix {
    top: 20px;
    position: fixed;
    left: initial;
    margin-left: 1020px;
  }
}

/* Code styles */
pre {
    padding: 0px;
    margin: 0 0 8px 0;
    overflow: auto;
    word-wrap: normal;
    word-break: normal;
    border-color: #ddd;
}