@{
	Layout = @"_Layout.cshtml";
}

<p>@Model.String("Summary")</p>

<hr />

<h2>Members</h2>

@foreach(IDocument memberDocument in 
		Model.List<IDocument>("Members")
		.OrderBy(x => x.String("DisplayName")))
	{
		<li>@memberDocument.String("DisplayName") - @memberDocument.String("Summary")</li>
	}

@*
Doesn't actually do anything since the code symbol document has empty content,
but it has to be here to keep Razor happy...
*@
@RenderBody()

<hr />
<a href="/index.html">Back to Index</a>	