<html>
	<head>
		<title>Generated Blog - @Model["Title"]</title>
		<script src="/assets/js/jquery.js"></script>
	</head>
	<body>
		<h1>My Generated Blog!</h1>
		<hr />
		<h2>@Model["Title"]</h2>
		@{
			var date = Model.Get<DateTime>("Date", default(DateTime));
			if(date != default(DateTime))
			{
				<div><strong>Posted on @(date.ToLongDateString())</strong></div>
			}
		}		
		<hr />
		@RenderBody()
		<hr />
		<a href="index.html">Back to Index</a>
	</body>
</html>