
@import
'colours',
'base',
'mixins'
;

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: $color-grey; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $color-black;
    display: block;
    transition: 0.3s

}
.sidenav a span{
    @include border-slide();
}

/*.sidenav a span:hover, .offcanvas a span:focus{
    border-bottom: 3px solid $color-alpha;
}*/

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    color: $color-black;
}

main>.nav{
    top: 1.75em;
}
.nav {
    left: 4em !important;
}
@media (min-width: $mq-sm) {
    left: 4em;
  }
.nav.openbtn{
    left:2em !important;
    position: fixed;
    top: 1.5em;
    cursor: pointer;
    
}

footer {

    bottom:0;
    height:60px;   /* Height of the footer */
 }

 .fa.fa-bars, .fa.fa-arrow-left{
    color: $color-alpha;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
 }