@model IEnumerable<IDocument>

@{
    foreach (IDocument doc in Model)
    {
        string lead = doc.String(BlogKeys.Lead);
        
        <div>
            <a href="@Context.GetLink(doc)">
                <h2>@doc.WithoutSettings.String(BlogKeys.Title)</h2>
            </a>
            @if(!string.IsNullOrWhiteSpace(lead))
            {
                <p>@lead</p>
            }
            <p><em>Posted on @(doc.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</em></p>            
        </div>   
    }
}