Title: What Readers Are Saying
Order: 1
---
<div class="row 150%">
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>...worthy of the inventive genius...</p>
            <h3><a href="#">Hull Daily Mail</a></h3>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>Sherlock Holmes: great fictional character?...or greatest fictional character?</p>
            <h3><a href="#">Reviewer on GoodReads</a></h3>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="highlight">
            <p>I loved this book. It was incredible.</p>
            <h3><a href="#">Internet Person</a></h3>
        </section>
    </div>
</div>