@foreach(IDocument post in Outputs[nameof(Statiq.Web.Pipelines.Content)]
    .Flatten()
    .FilterSources(Context, "blog/posts/*")
    .OrderByDescending(doc => doc.GetDateTime("Published"))
    .Take(5))
{
    <div>
        <h2><a href="@Context.GetLink(post)">@post.GetString("Title")</a></h2>
        @Html.Raw(await post.GetContentStringAsync())
    </div>
}