@{ 
    var postPages = Model.DocumentList(Keys.PageDocuments).OrderByDescending(x => x.Get<DateTime>(BlogKeys.Published)); 
    string tag = Model.String(BlogKeys.Tag).ToLowerInvariant().Replace(' ', '-'); 
    tag = tag.StartsWith(".") ? tag.Substring(1) : tag; 
}

<ul>
    @foreach(var post in postPages){
    <li>
        <a href="@Context.GetLink(post)">
            <h2>@post.WithoutSettings.String(BlogKeys.Title)</h2>
            @Html.Raw(post.String(BlogKeys.Excerpt))
        </a>
    </li>
    }
</ul>

<a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Back To posts</a>